* body {
	background-color: var(--white-color);
	color: var(--text-color);
	font-family: roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
}

/* ===========LOCAL RESET=============== */
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.link {
	text-decoration: none;
	color: inherit;
}
address {
	font-style: normal;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
